html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}
body {
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* h1, h2, h3,
h4, h5, h6, th {
  text-shadow: 0 0 4px rgba(161,236,251,0.65);
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.neon-yellow {
  color: #fae127;
  text-shadow: 0 0 5px #fae127;
} */